/* assets/css/style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  background: linear-gradient(135deg, #BD8FAC, #955796, #B46F81, #D4A73D, #E49B3C);
  color: white;
  padding: 20px 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.page-header h1 {
  margin: 0;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li {
  line-height: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.page-content-wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
}

.text-content {
  flex: 1;
  padding-right: 20px;
}

.tableau-content {
  flex: 1; /* Takes up remaining space equally with other flex items */
}

.table-title {
    border: none; /* Remove border */
    text-align: left; /* Center align the title */
    font-size: 1.25em; /* Adjust font size as needed */
    padding: 10px; /* Add some padding for spacing */
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.table-small {
    width: 70%; /* Adjust the width as needed */
    margin: auto;
}

.table-content {
    flex: 1; /* The table will take up another part of the space */
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 20px; /* Add some space between the text and the table */
}



.image-content img {
  max-width: 100%;
  height: auto;
  max-height: 80vh; /* Ensure it doesn't take up more than 80% of the viewport height */
}

.study-objectives {
  width: 100%;
  margin-top: 20px;
}

.site-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

/* Change hyperlink color */
a {
  color: #ad799e; /* Change this to your desired hyperlink color */
  text-decoration: none;
}

a:hover {
  color: #ffffff; /* Change this to your desired hover color */
  text-decoration: underline;
}
